* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: whitesmoke;
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 30px;
  color: teal;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: whitesmoke;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: 1s ease all;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  transition: 1s ease all;
}

.left-menu-icon {
  color: whitesmoke;
  font-size: 20px;
  margin-bottom: 40px;
  transition: 1s ease all;
}

.container {
  background-color: rgb(20, 20, 20);
  min-height: calc(100vh - 50px);
  color: white;
  transition: 1s ease all;
}

.content-container {
  margin-left: 50px;
  transition: 1s ease all;
}

.featured-content {
  height: 50vh;
  padding: 50px;
  background-size: auto;
  background-repeat: no-repeat;
}

.featured-title {
  width: 500px;
}

.featured-description {
  width: 500px;
  color: gainsboro;
  margin: 30px 0;
}

.featured-button {
  background-color: teal;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.film-list-container {
  padding: 30px;
}

.film-list-title {
  padding-bottom: 10px;
}

.film-list-wrapper {
  position: relative;
  overflow: hidden;
}

.film-list {
  display: flex;
  align-items: center;
  height: 550px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.film-list-item {
  margin-right: 30px;
  position: relative;
}

.film-list-item:hover .film-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.film-list-item:hover .film-list-item-title,
.film-list-item:hover .film-list-item-description,
.film-list-item:hover .film-list-item-button {
  opacity: 1;
}

.film-list-item-img {
  width: 300px;
  object-fit: cover;
  transition: all 1s ease-in-out;
  border-radius: 5px;
}

.film-list-item-title {
  background-color: rgb(53, 53, 53);
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  right: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.film-list-item-description {
  background-color: rgb(53, 53, 53);
  padding: 10px;
  font-size: 16px;
  position: absolute;
  top: 42%;
  left: 50px;
  width: 200px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.film-list-item-button {
  padding: 10px;
  background-color: teal;
  color: whitesmoke;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 200px;
  right: 0;
  color: azure;
  cursor: pointer;
  opacity: 0.5;
}

.arrow:hover {
  opacity: 1;
  transition: .5s all ease-in-out;
}

.container.active {
  background-color: whitesmoke;
  transition: 1s ease all;
}

.film-list-title.active {
  color: black;
  transition: 1s ease all;
}

.navbar-container.active {
  background-color: white;
  color: black;
  transition: 1s ease all;
}

.sidebar.active {
  background-color: white;
  transition: 1s ease all;
}

.left-menu-icon.active {
  color: black;
  transition: 1s ease all;
}

.toggle.active {
  background-color: black;
  transition: 1s ease all;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
  transition: 1s ease all;
}

@media only screen and (max-width: 930px) {
  .menu-container {
    display: none;
  }
}
